/Glav.WebApiDemo.Web/bin
/Glav.WebApiDemo.Web/obj
/Glav.WebApiDemo.Web/packages
/Glav.WebApiDemo.Web/TestResults
/Glav.WebApiDemo.Web/Glav.WebApiDemo.Web.csproj.user
/Glav.WebApiDemo.Web/Glav.WebApiDemo.Web.sln.docstates.suo
/Glav.WebApiDemo.Web/Glav.WebApiDemo.Web.v11.suo
/Glav.WebApiDemo.Web/Glav.WebApiDemo.Web.suo
/packages
